/* Переменные */

:root {
  --black: #000;
  --white: #FFF;
}

.header {
  padding: 92px 52px 96px;
  display: grid;
  grid-template: min-content/1fr min-content 1fr;
  font-size: 18px;
  color: var(--black);
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  list-style: circle;
  column-gap: 25px;
  letter-spacing: 0.18px;
}

.header__links-list-item:nth-child(1) {
  list-style: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  width: fit-content;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  line-height: 1.52;
  letter-spacing: 0.18px;
  font-style: normal;
}

.cover {
  height: 757px;
  padding: 165px 50px 50px;
  /* Наложение двух фонов друг на друга, первый в списке - самый верхний. linear-gradient - позволяет использовать наложение просто цвета*/
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url(/images/cover.jpg) center/cover;
  color: var(--white);
  text-transform: uppercase;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 30px;
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
  margin-left: -60px;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  margin-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  margin-left: 28px;
  font-size: 22px;
  line-height: 1.27;
  word-spacing: 24px;
}

.bet-button {
  cursor: pointer;
  padding: 12px 32px;
  background: transparent;
  border: 1px solid #FFF;
  text-transform: uppercase;
  color: var(--white);
  font-size: 22px;
  text-align: center;
}

/* Секция lots*/

.lots {
  margin-top: 179px;
  padding: 0 24px;
}

.lots__heading {
  font-size: 40px;
}

.lots__card-list {
  display: grid;
  grid-template: 563px/repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
}

.card {
  color: var(--white);
}

.card_type_film {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url(/images/card-lot-01.jpg) center/cover;
}

.card_type_book {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url(/images/card-lot-02.jpg) center/cover;
}

.card_type_picture {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url(/images/card-lot-03.jpg) center/cover;
}